@{
    ViewBag.Title = "Home Page";
}
<script src="//assess.learnosity.com/?v2"></script>

<div class="section">
    <!-- Container for the items api to load into -->
    <div id="learnosity_assess"></div>
</div>

<script>
    var initOptions = @Html.Raw(ViewBag.Tim);

    var assessApp = LearnosityAssess.init(initOptions, "learnosity_assess",
               {
                   readyListener: function () {
                       console.log("readyListener");
                   },
                   errorListener: function () {
                       console.log("errorListener");
                   }
               }
       );

</script>